# Lab de Modelación

In [2]:
#Librería a utilizar
import surprise 
import pandas as pd
from sklearn.model_selection import train_test_split

### Paso 1) Crear un sistema de recomendación (user-user).
#### a) Top 5 mejores libros rankeados.

In [116]:
#Definiendo mejores libros
df=pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False,encoding='latin-1')
df=df.drop('User-ID',axis=1)

#Restricción sobre cantidad de evaluaciones
contador=df.groupby('ISBN').count()
Filtrocontador=contador['Book-Rating']>=200
contador=contador[Filtrocontador]

df_final=pd.merge(df,contador,on='ISBN',how='inner')
df_final=df_final.drop('Book-Rating_y',axis=1)
df_final=df_final.groupby('ISBN').mean().sort_values('Book-Rating_x',ascending=False).head(5)
df_final=df_final.reset_index()
MejoresLibros=df_final['ISBN']
print(MejoresLibros)

0    043935806X
1    0439136369
2    0345339681
3    0446310786
4    059035342X
Name: ISBN, dtype: object

#### b) Encontrar similaridad entre usuarios, mediante la similaridad del coseno

In [14]:

df=pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False,encoding='latin-1')
df.sort_values('User-ID')
print(df)

def Similaridad(ID_Usuario):
    Filtro_usuario=df['User-ID']==ID_Usuario
    Filtro_nota_nula=df['Book-Rating']==0
    
    #Se asegura de que el usuario ha interactuado.
    if df[Filtro_usuario].shape[0]<1:
        return('ID no registrada, no es posible encontrar usuarios similares')
    else:
        return(df[Filtro_usuario & ~Filtro_nota_nula])

Similaridad(276275)
# Problema Solucionado

#conteo_participacion=df.groupby('User-ID')['Book-Rating'].count().reset_index()
#conteo_participacion.columns.values[1]='Participacion'
#Filtroparticipacion=conteo_participacion['Participacion']>29
#conteo_participacion=conteo_participacion[Filtroparticipacion]
#display(conteo_participacion)
#df_2=pd.merge(df,conteo_participacion,on='User-ID',how='inner')
#df_2=df_2.drop(['Participacion'],axis=1)

#

#Problema 1: Incapacidad para segmentar los conjuntos de datos de forma de maximizar la aparición de 
#un usuario en ambos conjuntos
    
#Problema 2: Unable to allocate array with shape (140330835,) and data type int64 (Exceso de memoria ? )

#df_prueba=pd.merge(df_train,df_test,on='User-ID',how='inner')
#df_prueba=df_prueba.sample(frac=0.0001,replace=False,random_state=1)
#Usuarios=df_prueba.head(10).reset_index()['User-ID']

#for user in Usuarios:
    #i=0
    #df_train1=df_train
    #filtrouser=df_train1['User-ID']==user
    #Libros_calificados=df_train1[filtrouser][['ISBN','Book-Rating']]
    #Libros_calificados=Libros_calificados.sort_values('Book-Rating',ascending=False).head(5)
    #Libros=Libros_calificados['ISBN']
    #Recomendacion=MejoresLibros
    #for libro in Libros:
        #filtro_libro=df_train1['ISBN']==libro
        #if df_train1[filtro_libro].shape[0]<5:
            #i=-1
            #break
        #else:
            #df_train1=df_train1[filtro_libro]
    #if i==0:
        #df_train1=df_train1[~filtrouser]
        #df_train1.sort_values
        
    #print('Se le recomienda al usuario {} los siguientes libros {}'.format(user,Recomendacion))

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

         User-ID         ISBN  Book-Rating
1148401   276275   0380014033           10
1148402   276275   0671689126            9
1148404   276275  07183100395            9
1148406   276275   0743423801            5
1148407   276275   0764552953            8
1148409   276275   1556343205           10
1148410   276275   1578260914            7
1148411   276275   1578632064            7
1148412   276275   1893626369            9

### Paso 2) Acomodar para futuros datos.

In [ ]:
#data=pd.read_csv('Transacciones.csv')